* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0 ;
-webkit-user-select: none; /* Safari */
-ms-user-select: none; /* IE 10+ and Edge */
user-select: none; /* Standard syntax */
}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* Fading animation */
.fade1 {
-webkit-animation-name: fade1;
-webkit-animation-duration: 0.25s;
animation-name: fade1;
animation-duration: 0.25s;
}

@-webkit-keyframes fade1 {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade1 {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}

html {
    scroll-behavior: smooth;
}
  .img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
}
#hiddenDiv {
      display: none;
}
body {
    font-family: Yekan, cursive;
    font-size: 17px;
}

p {
    font-family: Yekan, cursive;
    font-size: 18px;
}
h2{
    font-family: Yekan, cursive;
    font-size: 20px;
}
.myCard {
        width : 90vw !important;
        min-height : 80vh !important;
}	
img {
    object-fit: contain;
    max-width: 90vw;
    max-height: 60vh;
}
@media (min-width: 600px) {
    .myCard {
        width : 75vw !important;
        height : 90vh !important;
    }
    img {
        object-fit: contain;
        max-width: 75vw;
        max-height: 60vh;
    }
}
@media (min-width: 1000px) {
    .myCard {
        width : 55vw !important;
        height : 90vh !important;
    }
    img {
        object-fit: contain;
        max-width: 55vw;
        max-height: 60vh;
    }
}
.checkboxgroup {
    display: inline-block;
    text-align: center;
}
.checkboxgroup label {
    display: block;
}
